<h1>What's your question?</h1>
<form action="/answer" method ="get">
  <input type="text" name="question" placeholder="What do you want to say to the coach?">
  <input type="submit" value="Ask!">
</form>
